.header {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'Itim', cursive;
  }

  footer {
    padding: 20px;
    text-align: center;
    margin: 20px;
    background-color: DarkSalmon;
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .htopic{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .bg{
    background-color: black;
    color: aliceblue;
  }

  .border1{
    border: 5px solid aqua;
  }

  .border2{
    border: 5px solid cornflowerblue;
  }
  .border3{
    border: 5px solid teal;
  }
  

  .border4{
    border: 5px solid lavender;
    padding-left: 20px;
  }

  